div#kingdom-list {
    background: none;
    position: fixed;
    top: 0px;
    left: 10px;
    width: 120px;
    overflow-y: scroll;
    height: 100%;
}

div#kingdom-list div {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 4px solid var(--neutral-light);
    background-color: var(--neutral-light);
    padding: 0px;
    border-radius: 10px;
    aspect-ratio: 1 / 1 ;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

div#kingdom-list div.selected {
    border-color: var(--primary);
}

div#kingdom-list div img {
    display: block;
    transform-origin: center center;
    width: auto;
    object-fit: cover;
    height: 120%;
    transform: scale(1.01);
}

div#kingdom-list div:hover img {
    transition: transform 10s ease-out;
    transform: scale(1.3)
}

div#sidebar {
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
    height: 100%;
    width: 20vw;
    background-color: var(--medium-gray);
    padding-left: 4px;
}

div#sidebar-tabs {
    position: absolute;
    height: 100%;
    top: 0;
    left: -37px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

div#sidebar-tabs div {
    background-color: var(--secondary);
    writing-mode: vertical-rl;
    text-align: center;
    z-index: 90;
    padding: 10px;
    margin: 10px 4px 10px 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

div#sidebar-tabs div p {
    margin: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
}

div#sidebar-tabs div.selected {
    background-color: var(--medium-gray);
    padding-right: 14px;
    margin-right: 0px;
    z-index: 300;
}

div#sidebar div#sidebar-dragbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    z-index: 200;
    background-color: var(--secondary);
    cursor: w-resize;
}

div#sidebar-content {
    height: calc(100% - 20px);
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 10px;
    overflow: scroll;
    padding: 10px;
}

div#sidebar-content > div {
    display: block;
    background-color: var(--neutral-light);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    /* border: 2px solid transparent; */
    cursor: pointer;
}

div#sidebar-content div img {
    max-width: 100%;
    max-height: 100%;
}

.locked {
    background-color: var(--locked) !important;
    filter: grayscale();
}

div#settings-menu {
    position: fixed;
    display: block;
    left: 140px;
    bottom: 10px;
    width: 60px;
}

div#settings-menu div#hamburger-button {
    border-radius: 50%;
    background-color: var(--locked);
    border-color: transparent;
    justify-content: center;
    align-items: center;
    z-index: 200;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

div#settings-menu div#hamburger-button img {
    height: 70%;
    width: 70%;
    aspect-ratio: 1 / 1;
    filter: invert();
}

div#settings-menu div#button-menu {
    position: absolute;
    left: 0;
    bottom: 70px;
    display: grid;
    grid-template-rows: repeat(4, 60px);
    background: none;
    gap: 5px;
    cursor: pointer;
    width: 100%;
    mask-image: linear-gradient(white, white 95%, black 100%);
}

div#settings-menu div#button-menu div {
    background-color: var(--locked);
    border-radius: 50%;
    font-size: 5px;
    aspect-ratio: 1 / 1;
    height: 100%;
}

div#settings-menu div#button-menu div a {
    width: 100%;
    height: 100%;
}

div#settings-menu div#button-menu div img {
    width: 60px;
    height: 60px;
}