:root {
    --primary: #e52521;
    --secondary: #2c2c2c;
    --accent1:	#F8E643;
    --accent2:	#0F0F13;
    --neutral-light: #F2F2F2;
    --success: #47D17A;
    --locked: #4e4e4e;
}

@font-face {
    font-family: 'Fredoka One';
    src: url("../resource/fredokaone.TTF");
}

body {
    margin: 0;
}

div#kingdom-list {
    background: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10px;
    left: 10px;
}

div#kingdom-list div {
    border: 4px solid white;
    border-radius: 10px;
    aspect-ratio: 1 / 1 ;
}

div#kingdom-list div img {
    max-width: 100%;
    max-height: 100%;
}